extends layout

block content
    div.title
        h1 ALL THE COUNTRIES!!!!!
        img(src="/img/all-the-things.jpg" width="350px")
    
    div.inputs
        p Search for a Country
        input#search-text(name="searchText" type="text")
        button#search-button Search Countries
        br  
        p Load All the Countries
        button#load-button Load Countries
    
    div.countries